form {
    margin: 15px auto;
    input {
        padding: 7.5px 1em;
        border-width: 0px;
        color: black;
    }
    input[type=submit] {
        color: white;
        background-color: #4cd964;
    }
}